csv/
env-3.9.13/
modules/models/
modules/face-landmark/
.DS_Store
components/models/
cc.lo*
cc.log
.idea/
config/__pycache__/*
config/__pycache__/const.cpython-38.pyc
res/
log/
ui/__pycache__/
scripts/__pycache__/
mysql/connector/locales/eng/__pycache__/
mysql/connector/plugins/__pycache__/
mysql/connector/__pycache__/
mysql/__pycache__/
modules/body_parts/mylayers/__pycache__/
modules/body_parts/human_seg/__pycache__/
modules/body_parts/__pycache__/
lib/cli/__pycache__/
lib/__pycache__/
db/__pycache__/
components/__pycache__/
barcode/charsets/__pycache__/
barcode/__pycache__/
mysql/connector/locales/__pycache__/
config/__pycache__/
models/
scripts/__pycache__/*
orm/database/__pycache__/
orm/entitas/result_mod/__pycache__/
util/__pycache__/
components/__pycache__/*
orm/entitas/users/__pycache__/repositoriesDB.cpython-38.pyc
orm/entitas/users/__pycache__/services.cpython-38.pyc
components/__pycache__/giat.cpython-38.pyc
orm/__pycache__/__init__.cpython-38.pyc
orm/entitas/users/__pycache__/
orm/entitas/kegiatan/__pycache__/
components/__pycache__/
orm/entitas/kesatuan/__pycache__/
orm/entitas/users_kegiatan/__pycache__/
orm/entitas/jabatan/__pycache__/